<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metahead.ejs') -%>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') -%>

    <div id="wrapper">
      <section id="full-height">
        <div class="notification is-info">
          <h1><strong>Dashboard <%= email %></strong></h1>
          <br />
          <strong>PUB :</strong> <%= pub %><br />
          <strong>EPUB :</strong> <%= epub %>
        </div>
      </section>
    </div>
  </body>
</html>
